body, html {
    margin: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.connect-board {
    margin: 0 auto;
    width: 980px;
    height: 950px;
    padding: 30px;
    border: 5px solid black;
    background-color: yellow;
}


.connect-cell {
    margin: 15px 15px 35px 15px;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    background: #fff;
    border-radius: 50px;

}

.connect-row {
    clear: both;
}

.btn label {
    font-weight: bold;
    font-size: .9em;
}

.btn .red {
    position: absolute;
    width: 50px;
    height: 100px;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
}

.btn .blue {
    position: absolute;
    text-indent: 25px;
    width: 50px;
    height: 100px;
    display: block;
    right: 0;
    top: 0;
    z-index: 5;
}

.btn .clear {
    position: absolute;
    bottom: -20px;
    height: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
}

.btn .red:hover::before {
    content: " ";
    display: block;
    opacity: .99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 100px;
    border-top: 20px double darkred;
    border-bottom: 20px double darkred;
    border-left: 20px double darkred;
    border-radius: 50px 0 0 50px; 
    background: red;
    z-index: -3;
}

.btn .blue:hover::before {
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 50px;
    top: 0;
    right: 0;
    border-right: 20px double darkblue;
    border-top: 20px double darkblue;
    border-bottom: 20px double darkblue;
    border-radius: 0 50px 50px 0; 
    z-index: -4;
    background: blue;
}

.btn .clear:hover::before {
    content: " ";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: grey;
    z-index: -5;
}

input.red-input[type=radio] {
    position: absolute;
    top: 20px;
    left: -15px;
}

input.blue-input[type=radio] {
    position: absolute;
    top: 20px;
    right: -15px;
}

input.clear-input[type=radio] {
    position: absolute;
    bottom: -15px;
    left: 10px;
}

label.red::after, label.blue::after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -1500px;
    transition: top ease-in .3s;
}

.btn input.red-input[type=radio]:checked ~ label.red::after {
    position: absolute;
    top: 0;
    border: darkred double 20px;
    background: red;
    z-index: -13;
}

.btn input.blue-input[type=radio]:checked ~ label.blue::after {
    top: 0;
    left: -50px;
    border: darkblue double 20px;
    background: blue;
    z-index: -14;
}

.btn input.clear-input[type=radio]:checked ~ label.clear::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: transparent;
    z-index: -15;
}