body, html {
    margin: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

header, .jumbotron, main {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    position: relative;
}

.text-center {
    text-align: center;
}

.container:after, .row:after, .clearfix:after, header:after , .jumbotron:after , main:after {
    clear: both;
    content: " ";
    display: table;
}

/*Nav and Header*/

header {
    padding-top: 15px;
}

.logo {
    display: inline-block;
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
}

nav {
    float: left;
    margin-left: 30px;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

nav>ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul.nav>li {
    display: block;
    float: left;
    padding-right: 15px;
}

nav>ul.nav>li.active>a::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #bd3330;
    transition: all .25s;
}

nav>ul.nav>li>a:link, nav>ul.nav>li>a:visited {
    color: #000;
    text-decoration: none;
    transition: all .25s;
}

nav>ul.nav>li>a:hover, nav>ul.nav>li>a:focus, nav>ul.nav>li.active>a:link, nav>ul.nav>li.active>a:visited  {
    color: #bd3330;
}

.head-connect-container {
    background-color: #2980b9;
    position: absolute;
    text-align: center;
    top: -100px;
    z-index: -10;
    left: 0;
    right: 0;
}

.head-connect-row {
    position: relative;
}

.head-connect-cell {
    display: inline-block;
    margin: 10px 15px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #fff;
}

.head-connect-cell.red {
    background: #bd3330;
    border: #913230 double 30px;
}

.head-connect-cell.yellow {
    background: #feff39;
    border: #cccc2d double 30px;
}

.jumbotron .content {
    padding: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, .33)
}

.jumbotron {
    color: #fff;
    overflow: hidden;
}

.jumbotron h1 {
    font-size: 4rem;
}

.jumbotron h1>small {
    font-size: 2.5rem
}

.sm-connect-container {
    display: inline-block;
    margin: 15px;
    background-color: #2980b9;
}

.sm-connect-cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.sm-connect-cell.win::before {
    content: " ";
    display: block;
    position: absolute;
    margin: -7px;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, .33);
}

.sm-connect-cell.yellow {
    background: #feff39;
}

.sm-connect-cell.red {
    background: #bd3330;
}

/*Skeleton */

.three-col, .two-col, .one-col {
    float: left;
}

@media screen and (min-width: 768px) {
    .three-col {
        width: 33.3333333%;
        padding-right: 15px;
    }

    .two-col {
        width: 50%;
        padding-right: 15px;
    }

    .one-col {
        width: 100%;
    }
}

/*Conect 4 - Play Now Css*/

.connect-container {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    text-align: center;
    color: #000;
}

.connect-container>button {
    font-weight: bold;
    font-size: 1.25rem;
    background: red;
    padding: 15px 25px;
    color: #fff;
}

.connect-board {
    margin-left: 25px;
    margin-right: 25px;
    margin: 0 auto;
    width: 1100px;
    height: 950px;
    padding: 30px;
    text-align: left;
    background-color: #2980b9;
    position: relative;
}

.connect-leg {
    width: 25px;
    height: 900px;
    background: #2980b9;
    position: absolute;
    bottom: -100px;
}

.connect-leg.left {
    left: -25px;
    border-right: ridge #2980b9;
}

.connect-leg.right {
    right: -25px;
    border-left: ridge #2980b9;
}


.connect-cell {
    margin: 15px 25px 35px 25px;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    background: #fff;
    border-radius: 50px;
}

.connect-row {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
}

.btn label {
    font-weight: bold;
    font-size: .9em;
}

.btn .red {
    position: absolute;
    width: 50px;
    height: 100px;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    text-indent: -15px;
}

.btn .blue {
    position: absolute;
    text-indent: 17px;
    width: 50px;
    height: 100px;
    display: block;
    right: 0;
    top: 0;
    z-index: 5;
}

.btn .clear {
    position: absolute;
    bottom: -20px;
    height: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
}

.btn .red:hover::before {
    content: " ";
    display: block;
    opacity: .99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 100px;
    border-top: 20px double #913230;
    border-bottom: 20px double #913230;
    border-left: 20px double #913230;
    border-radius: 50px 0 0 50px; 
    background: #bd3330 url('../images/crown.png') 5px center no-repeat;
    z-index: -3;
}

.btn .blue:hover::before {
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 50px;
    top: 0;
    right: 0;
    border-right: 20px double #cccc2d;
    border-top: 20px double #cccc2d;
    border-bottom: 20px double #cccc2d;
    border-radius: 0 50px 50px 0; 
    z-index: -4;
    background: #feff39 url('../images/crown.png') -25px center no-repeat;
}

.btn .clear:hover::before {
    content: " ";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: grey;
    z-index: -5;
}

input.red-input[type=radio] {
    position: absolute;
    top: 20px;
    left: -15px;
}

input.blue-input[type=radio] {
    position: absolute;
    top: 20px;
    right: -15px;
}

input.clear-input[type=radio] {
    position: absolute;
    bottom: -15px;
    left: 10px;
}

label.red::after, label.blue::after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -1500px;
    transition: top ease-in .5s;
}

.btn input.red-input[type=radio]:checked ~ label.red::after {
    position: absolute;
    top: 0;
    border: #913230 double 20px;
    background: #bd3330 url('../images/crown.png') center no-repeat;
    z-index: -13;
}

.btn input.blue-input[type=radio]:checked ~ label.blue::after {
    top: 0;
    left: -50px;
    border: #cccc2d double 20px;
    background: #feff39 url('../images/crown.png') center no-repeat;
    z-index: -14;
}

.btn input.clear-input[type=radio]:checked ~ label.clear::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: transparent;
    z-index: -15;
}