body, html {
    margin: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

header, .jumbotron, main {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.text-center {
    text-align: center;
}

.pull-right {
    float: right;
}

.container:after, .row:after, .clearfix:after, header:after , .jumbotron:after , main:after {
    clear: both;
    content: " ";
    display: table;
}

.section-headline {
    margin-top: 15px;
    margin-bottom: 5px;
}

.section-headline>h2 {
    font-size: 2rem;
    margin: 0;
}

.section-headline>p {
    margin-top: 0;
}

ul.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

a:link, a:visited {
    color: #3498db;
    text-decoration: none;
    transition: color .15s;
}

a:hover, a:active, a:focus {
    color: #1f5980;
}


a.btn:link, a.btn:visited {
    color: #fff;
    text-decoration: none;
    transition: background-color .15s;
    display: inline-block;
    padding: 15px;
    background-color: #3498db;
    border-radius: 5px;
    font-weight: bold;
}

a.btn:hover, a.btn:active, a.btn:focus {
    background-color: #1f5980;
}

/*Nav and Header*/

header {
    padding: 15px 0;
}

.logo {
    display: inline-block;
    float: left;
    font-size: 2.5rem;
    font-weight: bold;
}

nav {
    float: left;
    margin-left: 30px;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

nav>ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul.nav>li {
    display: block;
    float: left;
    padding-right: 15px;
}

nav>ul.nav>li.active>a::after {
    content: " ";
    display: block;
    border-bottom: 2px solid #3498db;
    transition: all .25s;
}

nav>ul.nav>li>a:link, nav>ul.nav>li>a:visited {
    color: #000;
    text-decoration: none;
    transition: all .15s;
}

nav>ul.nav>li>a:hover, nav>ul.nav>li>a:focus, nav>ul.nav>li.active>a:link, nav>ul.nav>li.active>a:visited  {
    color: #3498db;
}

.head-connect-container {
    background-color: #3498db;
    position: absolute;
    text-align: center;
    top: -75px;
    z-index: -10;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.head-connect-row {
    position: relative;
    width: 1640px;
    margin: 0 auto;
}

.head-connect-cell {
    display: inline-block;
    margin: 10px 15px;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    background-color: #fff;
}

.head-connect-cell.red {
    background: #bd3330;
    border: #913230 double 30px;
}

.head-connect-cell.yellow {
    background: #feff39;
    border: #cccc2d double 30px;
}

.jumbotron::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .33);
    z-index: 1
}

.jumbotron .content {
    max-width: 1366px;
    margin: 0 auto;
    padding: 150px 30px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.jumbotron {
    color: #fff;
    overflow: hidden;
}

.jumbotron h1 {
    text-align: center;
    font-size: 4.5rem;
}

.jumbotron h1>small {
    font-size: 2.75rem
}

/*Main Content*/

main section {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

section.play-rules, section#play-now {
    background-color: #2980b9;
    color: #fff;
}

.sm-connect-container {
    display: inline-block;
    margin: 15px;
    background-color: #3498db;
    position: relative;
    margin-bottom: 30px;
}

.sm-connect-leg {
    width: 5px;
    height: 180px;
    background: #3498db;
    position: absolute;
    bottom: -30px;
}

.sm-connect-leg.left {
    left: -5px;
    border-right: 1px solid #205d87;
}

.sm-connect-leg.right {
    right: -5px;
    border-left: 1px solid #205d87;
}

.sm-connect-cell {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}

.sm-connect-cell.win::before {
    content: " ";
    display: block;
    position: absolute;
    margin: -7px;
    width: 31px;
    height: 31px;
    background: rgba(255, 255, 255, .33);
}

.sm-connect-cell.yellow {
    background: #feff39;
}

.sm-connect-cell.red {
    background: #bd3330;
}

.play-rules ol>li {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.play-rules ol>li>div {
    margin-top: -20px;
    font-size: 1rem;
    font-weight: normal;
}

#play-now {
    padding-top: 90px;
    padding-bottom: 90px
}

/*footer*/

footer {
    padding: 15px;
    font-size: .75rem;
}

.footer-nav {
    list-style: none;
    margin: 0;
}


.footer-nav>li {
    display: block;
    float: left;
    padding-right: 15px;
    line-height: 2rem;
}
/*Skeleton */

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .three-col, .two-col, .one-col {
        float: left;
    }
    .three-col {
        width: 33.3333333%;
        padding-right: 15px;
    }

    .two-col {
        width: 50%;
        padding-right: 15px;
    }

    .one-col {
        width: 100%;
    }
}
/*Conect 4 - Play Now Css*/

.down-arrow {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent; 
  border-top: 40px solid #3498db;
  position: absolute;
  bottom: 500px;
}

.down-arrow::before {
    content: " ";
    display: block;
    background: #3498db;
    height: 300px;
    width: 40px;
    position: absolute;
    top: -340px;
    left: -20px;
}

.connect-container {
    margin: 0 auto;
    max-width: 1366px;
    width: 100%;
    text-align: center;
    color: #000;
}

.connect-container button {
    margin: 30px auto;
    font-size: 1.25rem;
    background-color: #3498db;
    padding: 15px 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color .15s;
}

.connect-container h3 {
    margin: 0;
}

.connect-container button:active, .connect-container button:hover, .connect-container button:focus {
    background-color: #1f5980;
}

.connect-board {
    margin-left: 25px;
    margin-right: 25px;
    margin: 0 auto;
    width: 1100px;
    height: 950px;
    padding: 30px;
    text-align: left;
    background-color: #3498db;
    position: relative;
}

.connect-leg {
    width: 25px;
    height: 900px;
    background: #3498db;
    position: absolute;
    bottom: -100px;
}

.connect-leg.left {
    left: -25px;
    border-right: 2px solid #205d87;
}

.connect-leg.right {
    right: -25px;
    border-left: 2px solid #205d87;
}

.connect-row {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
}

.connect-cell {
    margin: 15px 25px 35px 25px;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    background: #fff;
    border-radius: 50px;
}

.btn label {
    font-weight: bold;
    font-size: .9em;
}

.btn .red {
    position: absolute;
    width: 50px;
    height: 100px;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
    text-indent: -15px;
}

.btn .blue {
    position: absolute;
    text-indent: 17px;
    width: 50px;
    height: 100px;
    display: block;
    right: 0;
    top: 0;
    z-index: 5;
}

.btn .clear {
    position: absolute;
    bottom: -20px;
    height: 20px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 5;
}

.btn .red:hover::before {
    content: " ";
    display: block;
    opacity: .99;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 100px;
    border-top: 20px double #913230;
    border-bottom: 20px double #913230;
    border-left: 20px double #913230;
    border-radius: 50px 0 0 50px; 
    background: #bd3330 url('../images/crown.png') 5px center no-repeat;
    z-index: -3;
}

.btn .blue:hover::before {
    content: " ";
    display: block;
    position: absolute;
    height: 100px;
    width: 50px;
    top: 0;
    right: 0;
    border-right: 20px double #cccc2d;
    border-top: 20px double #cccc2d;
    border-bottom: 20px double #cccc2d;
    border-radius: 0 50px 50px 0; 
    z-index: -4;
    background: #feff39 url('../images/crown.png') -25px center no-repeat;
}

.btn .clear:hover::before {
    content: " ";
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: grey;
    z-index: -5;
}

input.red-input[type=radio] {
    position: absolute;
    top: 20px;
    left: -15px;
}

input.blue-input[type=radio] {
    position: absolute;
    top: 20px;
    right: -15px;
}

input.clear-input[type=radio] {
    position: absolute;
    bottom: -15px;
    left: 10px;
}

label.red::after, label.blue::after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    top: -1500px;
    transition: top ease-in .5s;
}

.btn input.red-input[type=radio]:checked ~ label.red::after {
    position: absolute;
    top: 0;
    border: #913230 double 20px;
    background: #bd3330 url('../images/crown.png') center no-repeat;
    z-index: -13;
}

.btn input.blue-input[type=radio]:checked ~ label.blue::after {
    top: 0;
    left: -50px;
    border: #cccc2d double 20px;
    background: #feff39 url('../images/crown.png') center no-repeat;
    z-index: -14;
}